<!DOCTYPE html>
<html>
  <%- include('layout/head'); -%>
  <body>
    <%- include('partials/searchbox'); -%>
    <h2>Results in <%= l1 %> for "<%= query %>"</h2>
    <%- include('partials/terms'); -%>
    <ul>
      <% for(const phrase of phrases) { %>
      <li>
        <div>German: <%= phrase.de %></div>
        <div>Dutch: <%= phrase.nl %></div>
        <div>English: <%= phrase.en %></div>
      </li>
      <% } %>
    </ul>
  </body>
</html>
