<!DOCTYPE html>
<html>
  <%- include('layout/head'); -%>
  <body>
    <%- include('partials/searchbox'); -%>
    <h2><%= l1 %> <%= term %></h2>
    <%- include('partials/terms'); -%>
  </body>
</html>
